@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Work Sans", serif;
}

.h-no-nav {
  @apply h-[calc(100vh-80px)];
}

.min-h-no-nav {
  @apply min-h-[calc(100vh-80px)];
}

.fluid {
  @apply px-4 md:px-12 lg:px-28 xl:px-40 2xl:px-52;
}

.btn {
  @apply inline-flex items-center justify-center gap-1 text-sm transition-colors duration-150 py-2 px-3 rounded-lg font-semibold disabled:opacity-50;
}

.btn-primary {
  @apply btn bg-primary hover:bg-primary/85 disabled:hover:bg-primary text-white;
}

.btn-danger {
  @apply btn bg-danger hover:bg-danger/85 disabled:hover:bg-danger text-white;
}

.btn-neutral {
  @apply btn hover:bg-black/10 disabled:hover:bg-transparent;
}

.modal-bg {
  @apply h-screen bg-black/85 flex items-center justify-center;
}

.modal-card {
  @apply bg-white w-full max-w-[450px] p-4 space-y-2 rounded-xl border;
}

.modal-header {
  @apply font-semibold text-lg;
}

.modal-desc {
  @apply text-muted text-sm;
}

.modal-footer {
  @apply inline-flex gap-1 items-center justify-end w-full;
}

.select {
  @apply border rounded-lg bg-white p-2 text-sm outline-none;
}

.dropdown-menu-item {
  @apply w-full flex hover:bg-black/10 transition-colors duration-200 rounded-md gap-2 items-center p-2 text-sm font-medium;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
